<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Editierbare Information mit Server-Update</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>

{% for event in events %}
<div class="container">
    <div class="item">{{ event.date }}</div>
    <div class="item">{{ event.location.name }}</div>
    {% for task in tasks %}
        {% set plan_found = false %}
        {% for plan in event.plans %}
            {% if plan.task_id == task.id %}
                <div class="item placeholder" onclick="makeEditable(this)" data-id="{{ task.id }}" data-placeholder="{{ task.task }}">
                    {{ task.task }}{% if plan.person %} - {{ plan.person.first_name }} {{ plan.person.last_name }}{% endif %}
                </div>
                {% set plan_found = true %}
                {% break %}
            {% endif %}
        {% endfor %}
        {% if not plan_found %}
            <div class="item placeholder" onclick="makeEditable(this)" data-id="{{ task.id }}" data-placeholder="{{ task.task }}">{{ task.task }}</div>
        {% endif %}
    {% endfor %}
</div>
{% endfor %}

<script src="editableElements.js"></script>

</body>
</html>
