<!-- Fussleiste -->
<div class="legal">
    Das Gründlacher Café-Rad ist eine Initiative der <a href="https://www.grossgruendlach-evangelisch.de/">evangelisch-lutherischen Kirchengemeinde</a>, der <a href="https://cht-nuernberg.kirche-bamberg.de/seelsorgebereich/st--hedwig">katholischen Kirchengemeinde</a> und des <a href="https://www.alt-gruendlach.de/">Vorstadtvereins Alt-Gründlach</a>.<br/><br/>
    <a href="{{ url_for('static', filename='impressum.html') }}">Impressum</a>
    <a href="{{ url_for('static', filename='datenschutz.html') }}">Datenschutz</a>
    <a href="/login">Login</a>
</div>
